@import './variables.scss';

.default-nav {
    #navbar {
        background: $green-bg;
    }

    .navbar-container {
        width: auto;
        padding: 0 6%;
        
        .navbar-inner {
            height: 60px;

            .sitename {
                color: #ffffff;
                font-weight: bold;
                font-size: 25px;
                line-height: 60px;
            }

            .navbar-menu li {
                display: inline-block;
                margin-top: 10px;
            }
        
            .navbar-menu li a {
                height: 37px;
                line-height: 37px;
                padding: 0 11px;
                display: inline-block;
                color: #75e671;
                border: 1px solid transparent;
                margin-left: 10px;

                &:hover {
                    height: 35px;
                    border-color: #fff;
                    border-radius: 10px;
                    color: #fff;
                }
            }

            .nav-toggle-responsive {
                display: none;
            }
        }
    }
}
