.user-landing-page {
    .content {
        padding-top: 30px;
    }
    
    .content .grid-50 {
        display: table;
    }
    
    .gray-bg {
        background: #f5f5f5;
        padding: 33px;
        border-radius: 3px;
        height: 163px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        transition: background 0.2s;
    }
    
    .gray-bg .button {
        margin-top: 15px;
    }
    
    .gray-bg p {
        line-height: 125%;
        font-size: 18px;
    }
    
    @media screen and (max-width:768px) {
        .grid-50 {
            width: 100%!important;
            float: none;
            margin-bottom: 30px;
        }
    }
}
