.navbar-inner {
	height: 37px;
    line-height: 37px;
}

#navbar .navbar-menu li a {
	height: 37px;
	padding: 0 11px;
	transition: border-color 0.2s;
    box-sizing: border-box;
    display: inline-block;
}

#navbar .navbar-menu li a:hover {
	border: 1px solid #fff;
}

.navbar-container {
    width: auto;
    padding: 0 6%;
}
