.bg-images-container {
  width: 100%;
  height: 100%;
}

@keyframes imgFadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes imgFadeOut {
  0% {opacity:1;}
  100%{opacity:0;display:none;}
}

.bg-images-container img {
  width: 100%;
  height: 100%;
  display: none;
}

.bg-images-container img.fade-out {
  animation: imgFadeOut 1.6s forwards;
}

.bg-images-container img.active {
  display: block;
  animation: imgFadeIn 1.6s forwards;
}

.red-bg {
  background: #10af74;
  background: #033322c7;
  background: rgba(3, 51, 34, 0.78);
}

.welcome-text-container {
  padding: 100px 0;
  color: #fff
}

.welcome-text-container .large-text {
  font-size: 47px;
  font-weight: bold;
  line-height: 130%;
  text-shadow: 0 0 1px #444;
}

.welcome-text-container .large-text span {
  color: #ff0;
}

.welcome-text-container .info-text {
  margin-top: 14px;
  line-height: 145%;
  font-size: 19px;
  color: #ffdedb;
  text-shadow: 0 0 1px #444;
}

.section.features {
  padding-top: 30px;
}

.section.features .grid-container {
  margin-top: 30px;
}

.section.features .grid-container .button-area {
  margin-top: 19px;
}

.section.features .header {
  color: #8e8e8e;
}

.section.features .content {
  margin-top: 22px;
  font-size: 17px;
}

.button-area {
  margin-top: 30px;
}

.button-area .reporter-signup-btn {
  background: yellow;
  color: #ee3b3b;
  padding: 15px 31px;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid yellow;
  transition: background 0.3s;
}

.button-area .reporter-signup-btn:hover {
  background: #ffff28;
}

.section.about {
    padding: 20px 0 80px 0;
    line-height: 150%;
    font-size: 18px;
}

.section.about .about-text {
  margin-top: 20px;
}

.section.report {
  padding: 30px 0 70px 0;
  background: #ffffff;
}

.section.report h3 {
  font-weight: 600;
  font-size: 23px;
  color: #000;
  line-height: 125%;
  margin: 15px 0 0 0;
  position: relative;
  padding-left: 40px;
}

.section.report h3 .fa {
  color: #e3e3e3;
  position: absolute;
  top: 2px;
  left: 0;
}

.section.report h3 span {
  color: #d00;
}

.section.report .m-top {
  padding-left: 40px;
  margin-top: 10px;
}

.section.report .examples {
  color: #999;
  margin-top: 8px;
}

.section.report .button-area {
  margin-top: 25px;
}

.section.report .grid-container {
  margin-top: 25px;
}

/*dtead {
  background: #fbfbfb;
  padding: 20px 0 40px 0;
  border-radius: 4px;
}*/

h1 {
  line-height: 150%;
}

footer {
  padding: 30px 0;
  color: #222;
  border-top: 3px solid #dfdfdf;
  background: url('../images/bedge-grunge.png');
}

footer .newsletter {
  margin-right: 30px;
}

footer .footer-header {
  font-size: 14px;
  font-weight: bold;
}

footer .m-top {
  margin-top: 8px;
}

footer .newsletter .field-wrapper {
  position: relative;
  width: 300px;
}

footer .newsletter .field-wrapper .text-field {
  width: 300px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.5);
  padding: 9px 90px 9px 9px;
}

footer .newsletter .subscribe-btn {
  color: #10af74;
  font-weight: 700;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
}

footer .social {
  margin-right: 20px;
  color: #999;

}

footer .social:hover {
  color: #5697c7;
}

@media screen and (max-width:768px) {
  footer .f-left,
  footer .f-right {
    float: none;
  }

  footer .m-top-768 {
    margin-top: 40px;
  }
}

@media screen and (max-width:768px) {
  #navbar {
    background: #10af74;
  }

  .welcome-text-container {
    padding: 87px 0;
  }

  .welcome-text-container .large-text {
    font-size: 35px;
  }

  .welcome-text-container .info-text {
    margin-top: 10px;
    font-size: 16px;
  }

  .section.report .grid-50 {
    width: 100%;
    float: none;
    margin-top: 50px;
  }
}
