#navbar {
    padding: 15px 0;
}

#navbar .sitename {
    display: inline-block;
    color: yellow;
    vertical-align: middle;
    font-weight: bold;
    font-size: 23px;
}

#navbar .sitename {
    float: left;
}
#navbar .navbar-menu {
    float: right;
}

#navbar .navbar-menu li,
#navbar .navbar-menu a {
    display: inline-block;
}

#navbar .navbar-menu li {
    margin-left: 10px;
}

#navbar .navbar-menu li a {
    color: #fff;
}

.nav-toggle-responsive {
    float: right;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    display: none;
    font-size: 20px;
    height: 37px;
    padding: 0 11px;
}

@media screen and (max-width:768px) {
    #navbar .navbar-menu {
        display: none;
    }

    #navbar .nav-toggle-responsive {
        display: block;
    }

    #navbar.expanded {
        position: relative;
        background: #000;
    }

    #navbar.expanded .navbar-menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #000;
        z-index: 99999999999;
    }

    #navbar.expanded .navbar-menu.horizontal {
        padding: 30px 0;
        text-align: center;
    }

    #navbar.expanded .navbar-menu.vertical {

    }
}

.red-bg {
    background: #10af74;
}