.table-wrapper {
	display: block;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12)
}

.table-wrapper th {
	border-top: none;
}

table {
	background: #ffffff;
}

table td .status {
	cursor: pointer;
}