.dropdown {
  position: relative;
  display: inline-block;
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: #ffffff !important;
    box-shadow: 0 2px 3px #ccc;
    z-index: 999999999999999;

    li a {
      display: block;
      padding: 9px;
      color: #777!important;

      &:hover {
        background: #ededed!important;
        color: #333!important;
      }
    }
  }
}
